/* CSS for sitewide styles in personal website for 2020 from bootcamp course. */






em.italic {
    text-decoration-style: italic;

}

img.profilepic {
    border-radius: 400px;
    max-height: 200px;
    max-width: 200px;

}

.skillsTable {
    border-collapse: collapse;

}

.skillsTable th, td {
    padding: .6em;

}

