/* CSS for sitewide styles in personal website for 2020. */



em.italic {
    text-decoration-style: italic;

}

img.profilepic {
    border-radius: 400px;
    max-height: 200px;
    max-width: 200px;

}



